:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --link-color: rgb(22, 123, 255);
  --subtle-text-color: #2e2e2e;
  --active-text-color: #000;
  --header-background-color: #ffffff;
  --header-border-color: #eee;
  --nav-other-text-color:#8c8c8c;
}

[data-theme='dark'] {
  --background-color: rgb(11, 21, 36);
  --text-color: #ffffff;
  --link-color: #3e8bff; /* Adjust as needed for dark theme */
  --subtle-text-color: #e6e6e6; /* Adjust as needed for dark theme */
  --active-text-color: #ffffff;
  --header-background-color:  rgb(11, 21, 36); /* Adjust as needed for dark theme */
  --header-border-color: rgb(27, 37, 49); /* Adjust as needed for dark theme */
  --nav-other-text-color:#808080;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color); /* Use the variable */
  scroll-behavior: smooth;
}

* {
  font-family: 'Inter','SF Pro Display', 'Helvetica Neue', 'Roboto', sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -.01em;
  text-align: justify; /* Added this line to justify the text */
  letter-spacing: 0.012em
}

main {
  padding: 3.1% 1rem;
  max-width: 1020px; /* or any other value that fits your design */
  margin: 0 auto; /* center the content */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 0.5rem;
  padding-bottom: 0rem;
  line-height: 1.625;
}

.h1{
  font-weight: 500;
  font-size: 3.7rem;
  color: var(--text-color);
}

.h2{
  font-weight: 500;
  font-size: 2.0rem;
  padding-top: 0.5rem;
  padding-bottom: 0rem;
  line-height: 1.625;
  color: var(--text-color);
}

a {
  font-weight: 300;
  text-decoration: underline;
  color: var(--link-color); /* Use the variable */
}

strong {
  font-weight: 400;

}

.p1 {
  color: var(--text-color);
}

.p2 {
  color: var(--text-color);
}

.p3 {
  color: var(--text-color);
  margin-top: -10px; /* adjust this value according to your needs */
}


header {
  width: 100%;
  padding: 0.75rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  backdrop-filter: none;
  background: var(--header-background-color); /* Use the variable */
  border-bottom: 1px solid var(--header-border-color); /* Use the variable */
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin: 0;
  gap: 1rem;
}

nav a {
  color: var(--nav-other-text-color);
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -.01em;
  transition: color 0.3s ease;
  font-family: 'SF Pro Text','SF Pro Icons', 'Helvetica Neue', 'Inter', sans-serif;
}

nav a:hover {
  color: var(--subtle-text-color); /* Use the variable */
}

nav a.active {
  font-weight: 500;
  color: var(--active-text-color); /* Use the variable */
}



.resume-link {
  position: relative;
}

.resume-link .arrow::after {
  content: '→'; /* Unicode right arrow */
  opacity: 0; /* Make it invisible when not hovered */
  transition: opacity 0.3s ease; /* Transition effect */
  margin-left: 4px; /* Optional: Add some space between the text and the arrow */
}

.resume-link:hover .arrow::after {
  opacity: 1; /* Make it visible when hovered */
}

.resume-link:hover {
  color: var(--link-color); /* Color when hovering over the "resume" link */
}

nav a.resume-link:hover {
  color: var(--link-color); /* Change to blue color when hovering over the "resume" link */
}



/* Existing Styles... */

@media (max-width: 768px) {
  /* Adjust Container Layout for Mobile */
  .container {
    font-size: 18px;
  }

  /* Adjust Header Layout for Mobile */
  header {
    padding: 0.5rem 1rem;
  }

  /* Adjust Navigation for Mobile */
  nav ul {
    flex-wrap: nowrap; /* Keep items in a single line */
    overflow-x: auto; /* Allow scrolling if the content overflows */
  }

  nav a {
    font-size: 14px; /* Reduce font size */
    padding: 0.25rem 0.4rem; /* Adjust padding */
  }

  /* Adjust Font Size for Mobile */
  .h1 {
    font-size: 2.5rem;
  }

  /* Add any other specific styling for mobile view here */
}
